# Python
__pycache__/
*.py[cod]
venv/
.venv/
env/
.env

# Node
node_modules/
dist/
build/

# Data & Large Files
*.zip
*.tif
*.tiff
*.csv
*.log
.DS_Store

# Cesium & Static Assets
frontend for satquery/frontend/public/cesium/
geoai backend/app/static/cogs/
geoai backend/storage/

# IDE
.vscode/
.idea/
.env*
